body {
    margin: 0;
}

#wr-sandbox {
    background: white;
    vertical-align: top;
    border: 0;
}

#wr-player {
    position: relative;
}

#wr-pointer {
    width: 10px;
    height: 10px;
    position: absolute;
    transition: all .2s
}

#wr-pointer[active] svg {
    fill: red;
    transform: scale3d(1.2, 1.2, 1.2);
}

.wr-container {
    background: grey;
}

.wr-panel {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    height: 40px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: darkgray;
    display: flex;
}

.wr-keyboard {
    white-space: nowrap;
}

.wr-progress {
    width: 100%;
    height: 20px;
    overflow: hidden;

}

.wr-slider-bar {
    position: relative;
    padding: 0 5px;
    width: calc(100% - 22px);
    height: 5px;
    margin: 7.5px 0;
    background: white;
    border-radius: 2.5px;
}

.wr-thumb {
    width: 12px;
    height: 12px;
    box-sizing: border-box;
    border: 1px solid white;
    background: black;
    border-radius: 100%;
    cursor: pointer;
    position: absolute;
    left: 0%;
    transform: translateY(-3px);
    z-index: 10;
    transition: left .1s linear;
}

.wr-timer {
    margin: 0 10px;
    color: white;
    font-size: 12px;
    line-height: 20px;
    font-family: Helvetica;
    vertical-align: middle;
}
