body {
    margin: 0;
    background-color: #f6f6f6;
}

#cat-main {
    box-shadow: 0 2px 3px rgba(26, 26, 26, .1);
    transition: all 500ms ease-in-out;
    -webkit-transition: all 500ms ease-in-out;
    transform-origin: top left;
    -webkit-transform-origin: top left;
    opacity: 0;
    position: absolute;
}

#cat-sandbox {
    background: white;
    vertical-align: top;
    border: 0;
}

#cat-player {
    position: relative;
}

#cat-pointer {
    width: 10px;
    height: 10px;
    position: absolute;
    transition: all .2s;
}

#cat-pointer img {
    width: 15px;
    position: absolute;
    z-index: 100;
}

#cat-pointer .loading {
    display: flex;
    animation-delay: 1s;
}

#cat-pointer .dot {
    position: relative;
    width: 2em;
    height: 2em;
    margin: 0.8em;
    border-radius: 50%;
}

#cat-pointer[active] .dot {
    width: 1px;
    height: 1px;
    border-radius: 50%;
    position: absolute;
    background: #4682b4;
    top: -10px;
    left: -10px;
}

#cat-pointer[active] .dot::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: inherit;
    border-radius: inherit;
    animation: wave .45s ease-out infinite;
}

@keyframes wave {

    40%,
    75% {
        transform: scale(30);
    }

    80%,
    100% {
        opacity: 0;
    }
}

#cat-container {
    background: grey;
}

#cat-panel {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    height: 40px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: darkgray;
    opacity: 0.9;
    display: flex;
}

.cat-keyboard {
    white-space: nowrap;
}

.cat-progress {
    width: 100%;
    height: 20px;
    overflow: hidden;

}

.cat-slider-bar {
    position: relative;
    padding: 0 5px;
    width: calc(100% - 22px);
    height: 5px;
    margin: 7.5px 5px;
    background: white;
    border-radius: 2.5px;
}

.cat-thumb {
    width: 12px;
    height: 12px;
    box-sizing: border-box;
    border: 1px solid white;
    background: black;
    border-radius: 100%;
    cursor: pointer;
    position: absolute;
    left: 0%;
    transform: translate3d(-5px, -4px, 0);
    z-index: 10;
    transition: left .25s linear;
}

.cat-timer {
    margin: 0 8px;
    color: white;
    font-size: 12px;
    line-height: 20px;
    font-family: Helvetica;
    vertical-align: middle;
}

.cat-export button {
    margin-left: 8px;
}

.cat-export img {
    height: 13px;
    vertical-align: bottom;
}
