body {
    margin: 0;
    background-color: #f6f6f6;
}

#cat-main {
    box-shadow: 0 2px 3px rgba(26, 26, 26, .1);
    transition: all 500ms ease-in-out;
    -webkit-transition: all 500ms ease-in-out;
    transform-origin: top left;
    -webkit-transform-origin: top left;
    opacity: 0;
    position: relative;
    overflow: visible;
}

#cat-sandbox {
    background: white;
    vertical-align: top;
    border: 0;
    width: 100%;
    height: 100%;
}

#cat-player {
    position: relative;
    width: inherit;
    height: inherit;
}

#cat-pointer {
    width: 10px;
    height: 10px;
    position: absolute;
    transition: all .2s;

    img {
        width: 15px;
        position: absolute;
        z-index: 100;
        top: -5px;
        left: -3px;
    }

    .loading {
        display: flex;
        animation-delay: 1s;
    }
}

#cat-pointer {
    .dot {
        position: relative;
        width: 2em;
        height: 2em;
        margin: 0.8em;
        border-radius: 50%;
    }

    &[active] {
        .dot {
            width: 1px;
            height: 1px;
            border-radius: 50%;
            position: absolute;
            background: #4682b4;
            top: -10px;
            left: -10px;
        }

        .dot::before {
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            background: inherit;
            border-radius: inherit;
            animation: wave .45s ease-out infinite;
        }
    }
}

@keyframes wave {

    40%,
    75% {
        transform: scale(30);
    }

    80%,
    100% {
        opacity: 0;
    }
}

#cat-container {
    background: grey;
}

#cat-panel {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    height: 40px;
    position: absolute;
    left: 0;
    bottom: -41px;
    background: #535253;
    opacity: 0.9;
    display: flex;
}

.cat-broadcaster {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 50px;

    display: flex;
    justify-content: center;

    .float-layer {
        margin: 0 10px;
        line-height: 20px;
        color: #fff;
        background-color: rgba(0, 0, 0, 0.6);
        border-radius: 2px;
        padding: 5px;
        box-shadow: 0px 0px 2px rgba(26, 26, 26, .5);
        text-align: center;

        &[hidden] {
            display: none;
        }
    }
}

.cat-keyboard {
    height: 20px;
    white-space: nowrap;

    button[disabled] {
        cursor: default;
        color: #999;
    }
}

.cat-export,
.cat-keyboard {
    button {
        border: none;
        background: none;
        color: white;
        outline: none;
        cursor: pointer;
        font-size: 13px;
        // line-height: 18px;
        padding: 0 5px;

        &.play-or-pause {
            padding: 0;
            text-indent: 1px;
            transform: rotate(90deg);
            width: 18px;
        }
    }
}

.cat-export,
.cat-progress,
.cat-keyboard,
.cat-timer {
    display: flex;
    align-items: center;
}

.cat-timer {
    margin-left: 2px;

    time {
        margin-top: 1px;
        padding: 0 4px;
        color: white;
        font-size: 12px;
        font-family: Helvetica;
        vertical-align: middle;
    }
}

.cat-export {
    button {
        padding: 0;
        padding-left: 2px;
    }
}

.cat-progress {
    width: 100%;
    height: 20px;
}

.cat-slider-bar {
    position: relative;
    padding: 0 5px;
    width: calc(100% - 20px);
    height: 5px;
    margin: 7.5px 8px;
    background: white;
    border-radius: 2.5px;
}

.cat-thumb {
    width: 12px;
    height: 12px;
    box-sizing: border-box;
    border: 1px solid white;
    background: black;
    border-radius: 100%;
    cursor: pointer;
    position: absolute;
    left: 0px;
    transform: translate3d(-6px, -4px, 0);
    z-index: 10;
    transition: left .3s linear;
}

.cat-current-progress {
    background: #aaa;
    border-radius: 2.5px;
    position: absolute;
    left: 0;
    width: 0;
    height: 5px;
    transition: width .3s linear;
}


#cat-start-page {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: calc(100% + 42px);
    -webkit-backdrop-filter: blur(1.5px);
    backdrop-filter: blur(1.5px);
    transition: .5s all;
    cursor: pointer;

    .play-btn {
        position: absolute;
        margin: auto;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100px;
        height: 100px;
        transition: .5s all;
    }

    &.clearly {
        -webkit-backdrop-filter: blur(0);
        backdrop-filter: blur(0);
        background: transparent;

        .play-btn {
            opacity: 0;
        }
    }
}
