body {
    margin: 0;
    background-color: #e2e2e2;
    overflow: hidden;
}

.player-main {
    box-shadow: 0 2px 3px rgba(26, 26, 26, .1);
    transition: all .5s;
    -webkit-transition: all .5s;
    opacity: 0;
    position: relative;
    overflow: visible;
}

.player-sandbox {
    background: white;
    vertical-align: top;
    border: 0;
    width: 100%;
    height: 100%;
}

.timecat-player {
    position: relative;
    width: inherit;
    height: inherit;
}

.player-pointer {
    width: 10px;
    height: 10px;
    position: absolute;
    transition: all .2s;

    img {
        width: 15px;
        position: absolute;
        z-index: 100;
        top: -5px;
        left: -3px;
    }


    &[active] {
        .spinner {
            width: 32px;
            height: 32px;
            left: -17px;
            top: -18px;
            position: absolute;
            background-color: #333;
            border-radius: 100%;
            -webkit-animation: spinner-scale .4s 1 ease-in-out;
            animation: spinner-scale .4s 1 ease-in-out;
        }
    }


}

@-webkit-keyframes spinner-scale {
    0% {
        -webkit-transform: scale(0)
    }

    100% {
        -webkit-transform: scale(1.0);
        opacity: 0.2;
    }
}

@keyframes spinner-scale {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    100% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
        opacity: 0.2;
    }
}

.player-container {
    background: grey;
}

.player-panel {
    width: 100%;
    box-sizing: border-box;
    padding: 5px 10px;
    height: 40px;
    position: absolute;
    left: 0;
    bottom: -41px;
    background: black;
    opacity: 0.8;
    display: flex;
    user-select: none;
}

.player-broadcaster {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 50px;

    display: flex;
    justify-content: center;

    .float-layer {
        margin: 0 10px;
        line-height: 20px;
        color: #fff;
        background-color: rgba(0, 0, 0, 0.6);
        border-radius: 2px;
        padding: 5px;
        box-shadow: 0px 0px 2px rgba(26, 26, 26, .5);
        text-align: center;

        &[hidden] {
            display: none;
        }
    }
}

.player-keyboard {
    white-space: nowrap;
    button {
        &[disabled]{
            cursor: default;
            color: #999;
        }
    }
}

.player-export,
.player-keyboard {
    button {
        border: none;
        background: none;
        color: white;
        outline: none;
        cursor: pointer;
        font-size: 14px;
        padding: 0 5px;

        &.play-or-pause {
            padding: 0;
            text-indent: 1px;
            transform: rotate(90deg);
            width: 18px;
        }
    }
}

.player-progress,
.player-keyboard,
.player-toolbox,
.player-timer {
    display: flex;
    align-items: center;
}

.player-export {
    display: flex;
    button {
        padding: 2px 0 0 0;
        padding-left: 2px;
    }
}

.player-fullscreen {
    margin-left: 8px;
    cursor: pointer;
    display: flex;
}

.player-progress {
    width: 100%;
    cursor: pointer;
 
    .player-timer {
        margin-left: 2px;
        padding: 0 4px;
        color: white;
        font-size: 14px;
        font-family: Helvetica;
    }
}

.player-slider-bar {
    position: relative;
    width: calc(100% - 20px);
    height: 23px;
    margin: 7.5px 8px;
    border-radius: 2.5px;
}

.player-heat-bar-container {
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
    background: black;
}

.player-heat-bar {
    height: 16px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    margin: 2px 0px 0 0px;
    background: black;
    transform: rotateZ(180deg) rotateY(180deg);
}

.player-thumb {
    width: 2px;
    border: 1px solid white;
    border-radius: 1px;
    height: 95%;
    background: #fff;
    cursor: pointer;    
    position: absolute;
    right: -2px;
    top: 0;
    z-index: 10;
    transition: all .3s;
    box-shadow: 0px 0px 5px black;

    &[active] {
        background: red;
        border-color: red;
    }
}

.player-current-progress {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    transition-property: width;
    transition-timing-function: linear;
    transition-duration: 0s;

    &.active {
        width: 100% !important;
    }
}


.player-start-page {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: calc(100% + 42px);
    -webkit-backdrop-filter: blur(1.5px);
    backdrop-filter: blur(1.5px);
    transition: .5s all;
    cursor: pointer;

    .play-btn {
        position: absolute;
        margin: auto;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100px;
        height: 100px;
        transition: all .5s;
        transform: scale(0);
        opacity: 0;

        &.show {
            transform: scale(1);
            opacity: 1;
        }
    }
}
